body{
   background-color: rgb(243, 237, 228);
}
.container{
    background-color: #fff;
    max-width: 500px;
    border-radius: 20px;
    display: block;
    margin: 45px auto;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow:  0.5px 0.5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    
}
.search-form-input{
    background-color: #f3f7fe;
    border: none;
    border-radius: 8px;
    width: 75%;
    padding: 20px 20px;
    font-size: 15px;
}
.search-form-button{
    color: #fff;
    background-color: rgb(253,116,139);
    border: 1px solid rgb(253,116,139);
    border-radius: 8px;
    width: 20%;
    padding: 16px 20px;
    font-size: 18px;
}
.temp-container{
    display: flex;
    justify-content: space-between;
    
}
.weather-icon{
    font-size: 88px;
    height: 88px;
    margin-top: 18px;
}
.weather-temp{
    font-size: 88px;
    margin-left: 10px;
    font-weight: bold;
}
.weather-unit{
    margin-top: 16px;
    font-size: 28px;
}
.weather-data-container{
    display: flex;
}
.humidity{
    color: rgb(111, 35, 182);
    font-weight: bolder;
}
.wind-speed{
    color: rgb(111, 35, 182);
    font-weight: bolder;
}
.description{
    color: rgb(161, 156, 156);
    font-weight: bolder;
}
.time{
    color: rgb(161, 156, 156);
    font-weight: bold;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}
p{
    color: rgb(161, 156, 156);
    padding: 10px;
    line-height: 20px;
}
footer{
    text-align: center;
    color: rgb(180, 175, 175);
    padding: 10px 10px;
}
a{
    color: rgb(253, 116, 139);
}